footer.fute {
    width: 100%;
    height: 5rem;
    
  margin-top: 200px;
  background: linear-gradient();
  background-color: #1767;
}
div.imagem img{
    width: 7%;
   margin: auto 12px auto 12px;
  
}